extends ../common/layout

block content
    .help
        .container
            ul.breadcrumbs
                li
                    a(href='/') 首页
                li 帮助
            .tab.tab-vertical
                ul.tab-nav
                    li.active
                        a(data-target='problems') 常见问题
                    li
                        a(data-target='agreement') 比赛协议
                .tab-content
                    #problems
                        ul.increment-question
                            li
                                | 参赛者如何参加比赛
                                ul.increment-digit
                                    li 参与竞赛 参赛者在平台注册登录后，选择所要参加的竞赛，在竞赛描述中点击“参加竞赛”。
                                    li 组建队伍 由队长邀请其他参赛者加入自己的队伍。每支队伍的人数上限由主办方确定，可在竞赛规则中查看
                                    li 提交结果 参赛者在竞赛过程中，可以根据出题方提供的数据和资源不断迭代优化， 产生最好的算法模型或解决方案。创新技术类比赛，参赛者提交结果后可立即查看最新得分和排名，得分根据主办方选定的评分算法和测试集文件计算得出。创意应用类比赛，参赛者可不断优化更新创意方案，线上初赛完结后进行线下专家评审，并公布初赛评分。
                                    li 获取奖励 竞赛线上提交结束后，参赛者按照事先制定的竞赛流程及规则，提交竞赛模型或解决方案，经主办方综合评审，获奖参赛者得到竞赛奖励（如奖金、工作机会等）。 注：主办方可能会设置线下答辩的复赛环节，每个竞赛的具体赛程请参见“竞赛描述”和“竞赛规则”部分。
                            li
                                | 参赛者如何找回密码？
                                ul.increment-digit
                                    li 通过“登录”等页面，点击“忘记密码”进入“密码重置”页面。
                                    li 输入指定图形验证码和注册使用的手机号码后，点击“获取短信验证码”。
                                    li 输入手机接收到的短信验证码，以及想要设置的密码，并重复确认。
                                    li 点击“重置密码”按钮申请重置密码。
                                    li 提示密码重置成功后，自动跳回登陆页，可用新密码进行登陆。
                            li
                                | 参赛者如何更换密码？
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“密码设置”。
                                    li 输入当前密码、图形验证码、新密码、重复新密码确认。
                                    li 点击修改密码按钮即可修改密码。
                            li
                                | 参赛者如何更换邮箱？
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“账户绑定”。
                                    li 选择“绑定邮箱”标签，点击“更改”按钮，弹出更改邮箱表单。
                                    li 输入输入新邮箱地址，验证码，当前密码。
                                    li 点击“绑定邮箱”按钮即可更换邮箱。
                            li
                                | 参赛者如何更换手机号码？
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“账户绑定”。
                                    li 选择“绑定手机”标签，点击“更改”按钮，弹出更改邮箱表单。
                                    li 输入输入新手机号，验证码，点击“发送验证码”。
                                    li 输入手机接收到的短信验证码，以及当前密码。
                                    li 点击“绑定手机”按钮即可更换邮箱。
                            li
                                | 我可以举办竞赛吗？
                                p
                                    | 欢迎所有有意向举办竞赛的公司/机构/组织和我们洽谈。
                                    br
                                    | 您若有意愿举办竞赛，请联系我们，填写您的想法与诉求，我们将在3个工作日内跟您联系。
                    #agreement
                        ul
                            li 总则
                                ul.increment-digit
                                    li 参与竞赛 参赛者在平台注册登录后，选择所要参加的竞赛，在竞赛描述中点击“参加竞赛”。
                                    li 组建队伍 由队长邀请其他参赛者加入自己的队伍。每支队伍的人数上限由主办方确定，可在竞赛规则中查看
                                    li 提交结果 参赛者在竞赛过程中，可以根据出题方提供的数据和资源不断迭代优化， 产生最好的算法模型或解决方案。创新技术类比赛，参赛者提交结果后可立即查看最新得分和排名，得分根据主办方选定的评分算法和测试集文件计算得出。创意应用类比赛，参赛者可不断优化更新创意方案，线上初赛完结后进行线下专家评审，并公布初赛评分。
                                    li 获取奖励 竞赛线上提交结束后，参赛者按照事先制定的竞赛流程及规则，提交竞赛模型或解决方案，经主办方综合评审，获奖参赛者得到竞赛奖励（如奖金、工作机会等）。 注：主办方可能会设置线下答辩的复赛环节，每个竞赛的具体赛程请参见“竞赛描述”和“竞赛规则”部分。
                                    
                            li 用户信息
                                ul.increment-digit
                                    li 通过“登录”等页面，点击“忘记密码”进入“密码重置”页面。
                                    li 输入指定图形验证码和注册使用的手机号码后，点击“获取短信验证码”。
                                    li 输入手机接收到的短信验证码，以及想要设置的密码，并重复确认。
                                    li 点击“重置密码”按钮申请重置密码。
                                    li 提示密码重置成功后，自动跳回登陆页，可用新密码进行登陆。
                            li 服务内容
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“密码设置”。
                                    li 输入当前密码、图形验证码、新密码、重复新密码确认。
                                    li 点击修改密码按钮即可修改密码。
                            li 知识产权
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“账户绑定”。
                                    li 选择“绑定邮箱”标签，点击“更改”按钮，弹出更改邮箱表单。
                                    li 输入输入新邮箱地址，验证码，当前密码。
                                    li 点击“绑定邮箱”按钮即可更换邮箱。
                            li 免责声明
                                ul.increment-digit
                                    li 登陆平台，点击右上角头像或用户名。
                                    li 进入个人信息页，点击左侧操作导航栏“账户管理”目录下的“账户绑定”。
                                    li 选择“绑定手机”标签，点击“更改”按钮，弹出更改邮箱表单。
                                    li 输入输入新手机号，验证码，点击“发送验证码”。
                                    li 输入手机接收到的短信验证码，以及当前密码。
                                    li 点击“绑定手机”按钮即可更换邮箱。
