.footer
    .container
        .left
            i.iconfont.icon-kefu
            h4.hotline
                | 售前咨询热线
                |
                b 400-1888-515
            ul
                li 专业技术咨询
                li 全方位产品解读
                li 成熟解决方案
                li 成功客户案例分享
        .right
            ul.nav
                li
                    a(href=`${home}`) 首页                    
                li
                    a(href=`${home}/tml/isJump#/?type=login`) 控制台
                li
                    a(href='/help') 帮助文档
            dl.touchUs
                dt 联系我们
                dd
                    i.iconfont.icon-dingwei002
                    span 江苏省无锡市滨湖区金融一街1号昌兴国际金融大厦六楼
                dd
                    i.iconfont.icon-youjian
                    span sales@xuelangyun.com
                dd
                    i.iconfont.icon-dianhua
                    span 400-1888-515
            p 关注雪浪云
                img(src='/images/QR_code.png' alt='雪浪云二维码')
            
    .container
        .copyright
            span © 2019 无锡雪浪数制科技有限公司  版权所有
            span 苏ICP备 18034176号-1 
